* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 140%;
}

.icon {
  font-size: 4rem;
}

h1, h2 {
  margin: 1em;
}

p {  
  margin: 1em 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: #ececec;
}

.card {
  width: 500px;
  background: #fff;
  box-shadow: 2px 2px 16px rgba(0,0,0,0.2);
  padding: 2em;
}

.card figure img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.2);
}

.name {
  margin-top: 1em;
  text-transform: capitalize;
}
.job {
  margin-bottom: 1em;
  color: #27ae60;
  text-transform: uppercase;
  font-weight: bold;
}

.prev-btn, .next-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #27ae60;
  padding: 0 10px;
}

.random-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background: #27ae60;
  color: #fff;
  border: none;
}

.random-btn:hover {
  opacity: 0.8;
}